script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src='/jquery-1.8.3.min.js')
script(src='/jquery.elevateZoom-3.0.8.min.js')
script(src='/jquery.elevatezoom.js')
script(src="/script.js") 